.view-bucket-list {
    .bucket-header {
        color: white;
        a { color: white }
    }
}

.create-bucket-list {
    .text-area {
        height: 400px;
        margin-top: 50px;
        padding-top: 20px;
    }
}

.feed-bg {
    min-height: 100vh;
    width: 100%;
}